# Keep this file in alphabetic order please!
# Sort with the command `sort -uf`
*.agdai
*.aux
*.dump-hi
*.hi
*.hie
*.hie-boot
*.imports
*.lagda.out
*.lagda.pdf
*.log
*.o
*.project.local
*.ptb
*.tmp
*.tmp.*
*~
.*.sw[a-p]
.*.vim
.cabal-sandbox/
.DS_Store
.ghc.environment.*
.stack-work-*/
.stack-work/
.sw[a-p]
.vscode/settings.json
.\#*
/benchmark/Create/hs-import-*
/benchmark/Create/import-*
/benchmark/Create/import0-*
/examples/**/MAlonzo
/examples/compiler/main
/mk/config.mk
/mk/parallel-tests.mk
/notes/style/haskell-style.tex
/src/full/Agda/Syntax/Parser/Lexer.hs
/src/full/Agda/Syntax/Parser/Parser.hs
/src/full/Agda/Syntax/Parser/Parser.info
/src/full/TAGS
/test/**/MAlonzo
/test/Compiler/simple/agda-rts.js
/test/Compiler/simple/highlight-hover.js
/test/Compiler/simple/Erasure-Issue2640
/test/Compiler/simple/Issue4168
/test/Compiler/simple/Issue4168-4185
/test/Compiler/simple/Issue4168-shirr
/test/Compiler/simple/jAgda.*.js
/test/Compiler/simple/Literals
/test/Compiler/simple/ModuleArgs
/test/Compiler/simple/VecReverse
/test/Compiler/simple/VecReverseErased
/test/Compiler/simple/VecReverseHand
/test/Compiler/simple/Word
/test/Compiler/with-stdlib/AllStdLib
/test/Compiler/with-stdlib/agda-rts.js
/test/Compiler/with-stdlib/highlight-hover.js
agda-ffi/dist
agda-stdlib
autom4te.cache
cabal.sandbox.config
config.log
config.status
configure
dist-*/
dist/
doc/user-manual.pdf
exec-test*
hlint-report.html
jAgda.*.js
module-dependency-graph.dot
module-dependency-graph.pdf
pkg-build*
stack.yaml
stack*.yaml.lock
trash.txt
\#*\#
