# Keep this file in alphabetic order please!

.*.sw[a-p]
.*.vim
.cabal-sandbox/
.stack-work/
.DS_Store
.sw[a-p]
*.agdai
*.hi
*.o
*.tmp
*.tmp.*
*~
\#*\#
.\#*
.ghc.environment.*
.ghci.local
agda-ffi/dist
agda-stdlib
autom4te.cache
cabal.sandbox.config
config.log
config.status
configure
dist/
dist-*/
doc/user-manual.pdf
examples/**/MAlonzo
examples/compiler/main
exec-test*
hlint-report.html
mk/config.mk
mk/parallel-tests.mk
notes/style/haskell-style.tex
pkg-build*
src/full/Agda/Syntax/Parser/Lexer.hs
src/full/Agda/Syntax/Parser/Parser.hs
src/full/tags
src/full/TAGS
stack.yaml
test/**/MAlonzo
test/compiler/Main
test/hello
test/latex-backend/succeed/latex/
test/succeed/latex/
test/succeed/Issue1441
