.*.sw[a-p]
.*.vim
.sw[a-p]
*.agdai
*.hi
*.o
*.tmp
*.tmp.*
*~
agda-stdlib
autom4te.cache
config.log
config.status
configure
dist
Epic
examples/compiler/main
MAlonzo
mk/config.mk
notes/style/haskell-style.tex
src/full/tags
src/full/TAGS
std-lib
test/compiler/Main
test/epic/RunTests
test/epic/tests/bin/
test/succeed/latex/
