# In the migration from Darcs to GitHub, we lost some information
# about the authors. The information from Git commands,
# e.g. git shortlog -nse, is better by using this file. The creation
# of this file was based on the .authorspellings Darcs file. If your
# entry is missing or wrong feel free to add or change it.

# ASR (17 June 2014). In the Darcs repository, Nils Anders Danielsson
# and Dominique Devriese had 1479 and 73 patches, respectively; but in
# the master branch of the GitHub repository, they only have 1471 and
# 72 commits, respectively. I couldn't fix it.

# Format of a line:
#
# Proper Name <Proper@email> commit name <commit@email>
# \-----------+------------/ \----------+-------------/
#             |                         |
#          replace                     find
#
# <Proper@email> is never optional and cannot appear by itself.
# Besides that, the other parts are optional (as long as 2 parts
# are present).

# Please keep this file in alphabetic order!

##############################################################################

Adam Gundry <adam.gundry@strath.ac.uk>
Adam Sandberg Eriksson <adam@sandbergericsson.se>
Alan Jeffrey <ajeffrey@bell-labs.com> ajeffrey
Alex Haršáni <alex.harsani@gmail.com> Alex Harsani <alex.harsani@gmail.com>
Alexandre Buisse <buisse@cs.chalmers.se>
Amélia Liao <me@amelia.how>
Andre Knispel <andre.knispel@gmx.de> whatisRT
Andreas Abel <andreas.abel@ifi.lmu.de> andreas.abel
Andreas Abel <andreas.abel@ifi.lmu.de> abel <abel@cs.chalmers.se>
Andreas Nuyts <andreas.nuyts@kuleuven.be> anuyts <anuyts@users.noreply.github.com>
Andrea Vezzosi <sanzhiyan@gmail.com>
Andrés Sicard-Ramírez <asr@eafit.edu.co> andres.sicard.ramirez
Andrés Sicard-Ramírez <asr@eafit.edu.co> andres.sicard.ramirez <andres.sicard.ramirez@gmail.com>
Andrés Sicard-Ramírez <asr@eafit.edu.co> andres.sicard <andres.sicard@gmail.com>
<asr@eafit.edu.co> <andres.sicard.ramirez@gmail.com>
Artem Shinkarov <artyom.shinkaroff@gmail.com> Artem Shinkarov <tema@pm.me>
Arthur Adjedj <arthur.adjedj@gmail.com> arthur-adjedj <arthur.adjedj@gmail.com>
Arthur Adjedj <arthur.adjedj@gmail.com> <arthur.adjedj@ens-paris-saclay.fr>
Arthur Adjedj <arthur.adjedj@gmail.com> <aarthuur01@gmail.com>
Bohdan Liesnikov <b.liesnikov+git@gmail.com> Bohdan <b.liesnikov+git@gmail.com>
Carlo Cabrera <30379873+carlocab@users.noreply.github.com>
Christian Sattler <sattler.christian@gmail.com>
Daniel Gustafsson <daniel.gustafsson@gmail.com> daniel.gustafsson
Darin Morrison <dwm@cs.nott.ac.uk> dwm
Darin Morrison <dwm@cs.nott.ac.uk> darinmorrison <darinmorrison@gmail.com>
Dominique Devriese <dominique.devriese@cs.kuleuven.be> dominique.devriese <dominique.devriese@gmail.com>
Dominique Devriese <dominique.devriese@cs.kuleuven.be> dominique.devriese
Ed Nutting <ed@beyondrisc.com> Ed Nutting <1746336+EdNutting@users.noreply.github.com>
Eduard-Gabriel Munteanu <eduard.munteanu@linux360.ro>
Evgenii Akentev <i@ak3n.com> Eugene Akentyev <ak3ntev@gmail.com>
Fabien Renaud <fabienr@chalmers.se>
Fabian Ruch <bafain@gmail.com>
Frédéric Jouault <fjouault@users.noreply.github.com>
Fredrik Lindblad <frelindb@chalmers.se> frelindb <frelindb@gmail.com>
Fredrik Lindblad <frelindb@chalmers.se> frelindb
Fredrik Nordvall Forsberg <csfnf@swansea.ac.uk> <fredrik.nordvall-forsberg@strath.ac.uk>
Fredrik Nordvall Forsberg <csfnf@swansea.ac.uk> csfnf <csfnf@swansea.ac.uk>
Guillaume Brunerie <guillaume.brunerie@gmail.com>
Guillaume Allais <guillaume.allais@ens-lyon.org> gallais
Herminie Pagel <nlp@fairbill.com> herminie <47478084+pnlph@users.noreply.github.com>
Herminie Pagel <nlp@fairbill.com> pnlph
Holger Borum <holger.stadel.borum@gmail.com> blaavogn
James Burton <j.burton@brighton.ac.uk>
James Chapman <james.chapman@iohk.io> james
James Chapman <james.chapman@iohk.io> <jmchapman@gmail.com>
James Chapman <james.chapman@iohk.io> <james@cs.ioc.ee>
Jean-Philippe Bernardy <jeanphilippe.bernardy@gmail.com> jeanphilippe.bernardy
Jesper Cockx <jesper.cockx@cs.kuleuven.be> jesper.cockx
Jesper Cockx <jesper.cockx@cs.kuleuven.be> <jesper@sikanda.be>
Jens Petersen <juhpetersen@gmail.com> Jens Petersen <petersen@redhat.com>
Karl Mehltretter <mehltret@cip.ifi.lmu.de>
Konstantin Nisht <konstantin.nisht@jetbrains.com> Konstantin Nisht <36202647+knisht@users.noreply.github.com>
Kuen-Bang Hou (Favonia) <favonia@gmail.com>
Lawrence Chonavel <95857153+lawcho@users.noreply.github.com> lawcho
Lennart Augustsson <lennart@augustsson.net>
Liang-Ting Chen <liang.ting.chen.tw@gmail.com>
LUA Ting-Gan <banacorn@gmail.com>
LUA Ting-Gan <banacorn@gmail.com> Ting-Gian Lua <banacorn@Ting-Giande-MacBook-Pro.local>
Lucas Escot <lucas@escot.me> flupe
Lucas Escot <lucas@escot.me> <flupe@users.noreply.github.com>
Makoto Takeyama <makoto.takeyama@aist.go.jp> makoto.takeyama
Marcin Benke <marcin.benke@gmail.com> marcin.benke
Marko Dimjašević <marko@dimjasevic.net> Marko Dimjašević <mdimjasevic@users.noreply.github.com>
Matthew Daggitt <matthewdaggitt@gmail.com>
Michael Shulman <shulman@sandiego.edu> Mike Shulman <shulman@sandiego.edu>
Nils Anders Danielsson <nad@cse.gu.se> <nad@cs.chalmers.se>
Nils Anders Danielsson <nad@cse.gu.se> <nils.anders.danielsson@gmail.com>
Nils Anders Danielsson <nad@cse.gu.se> nils.anders.danielsson <nils.anders.danielsson@86b02449-c53c-0410-81b4-87051234213d>
Noam Zeilberger <noam.zeilberger@gmail.com>
Nobuo Yamashita <nobuo-yamashita@aist.go.jp> nobuo-yamashita
Olle Fredriksson <fredriksson.olle@gmail.com> fredriksson.olle
Oskar Eriksson <98822866+oskeri@users.noreply.github.com> oskeri
Panagiotis Koutsourakis <kutsurak@monetdbsolutions.com> Panagiotis Koutsourakis <kutsurak@slartibartfast.net>
Patrick Palka <patrick@parcs.ath.cx>
Patrik Jansson <patrikj@chalmers.se> patrikj
Péter Diviánszky <divipp@gmail.com> divipp
Philipp Hausmann <ph_git@314.ch> Philipp Hausmann <philipp@xpc001.lenzburg>
Prabhakar Ragde <plragde@uwaterloo.ca>
Ryan Scott <ryan.gl.scott@ku.edu> Ryan Scott <ryan.gl.scott@gmail.com>
Ryan Scott <ryan.gl.scott@ku.edu> RyanGlScott <ryan.gl.scott@ku.edu>
Samuel Gélineau <gelisam@gmail.com>
Sergei Trofimovich <slyfox@community.haskell.org> Sergei Trofimovich <siarheit@google.com>
Shin-Cheng Mu <scm@iis.sinica.edu.tw>
Simon Boulier <SimonBoulier@users.noreply.github.com>
Stefan Monnier <monnier@iro.umontreal.ca> monnier
Steven Keuchel <steven.keuchel@gmail.com>
Szumi Xie <szumixie@gmail.com> szumixie <39803844+szumixie@users.noreply.github.com>
Tesla Ice Zhang <ice1000kotlin@foxmail.com> ice1000
Thomas Anberree <thomas.anberree@nottingham.edu.cn>
Thorsten Altenkirch <txa@cs.nott.ac.uk>
Ulf Norell <ulfn@chalmers.se> ulfn <ulfn@cs.chalmers.se>
Ulf Norell <ulfn@chalmers.se> ulf.norell <ulf.norell@gmail.com>
Ulf Norell <ulfn@chalmers.se> ulf.norell <ulf.norell@86b02449-c53c-0410-81b4-87051234213d>
Ulf Norell <ulfn@chalmers.se> ulfn
<ulfn@chalmers.se> <ulf.norell@gmail.com>
Uma Zalakain <ping@umazalakain.info> <uma@gisa-elkartea.org>
Víctor López Juan <victor@lopezjuan.com>
Wen Kokke <wen.kokke@gmail.com> Pepijn Kokke <pepijn.kokke@gmail.com>
Wen Kokke <wen.kokke@gmail.com> <wenkokke@users.noreply.github.com>
Wouter Swierstra <w.s.swierstra@uu.nl> <wss@cs.nott.ac.uk>
Wojciech Jedynak <wjedynak@gmail.com>
Zack Grannan <zgrannan@gmail.com> <zgrannan@protonmail.com>
Ziyang Liu <free@cofree.io> Ziyang Liu <unsafeFixIO@gmail.com>
