# The information from some Git commands, e.g. git shortlog -nse, is
# better by using this file.

# Please keep this file in alphabetic order!

##############################################################################

Alan Jeffrey <ajeffrey@bell-labs.com> ajeffrey
Andreas Abel <andreas.abel@ifi.lmu.de> andreas.abel
<asr@eafit.edu.co> <andres.sicard.ramirez@gmail.com>
Darin Morrison <dwm@cs.nott.ac.uk> dwm
Dominique Devriese <dominique.devriese@cs.kuleuven.be> <dominique.devriese@gmail.com>
Evgeny Kotelnikov <evgeny.kotelnikov@gmail.com> aztek
Gergő Érdi <gergo@erdi.hu> gergo
Jean-Philippe Bernardy <jeanphilippe.bernardy@gmail.com> jeanphilippe.bernardy
<nils.anders.danielsson@gmail.com> <nad@cs.chalmers.se>
Noam Zeilberger <noam.zeilberger@gmail.com> noam.zeilberger
Patrik Jansson <patrikj@chalmers.se> patrikj
Shin-Cheng Mu <scm@iis.sinica.edu.tw> scm
Ulf Norell <ulfn@chalmers.se> ulf.norell <ulf.norell@gmail.com>
Ulf Norell <ulfn@chalmers.se> ulfn
Ulf Norell <ulfn@chalmers.se> ulfn <ulfn@cs.chalmers.se>
<ulfn@chalmers.se> <ulf.norell@gmail.com>
