language: c
branches:
  only:
  - master

sudo: false

dist: trusty

cache:
  directories:
    - $HOME/.cabsnap

matrix:
  include:
    - env: TEST=MAIN GHC_VER=8.0.2 BUILD=CABAL CABAL_VER=1.24
      addons:
        apt:
          packages:
            - alex-3.1.7
            - cabal-install-1.24
            - ghc-8.0.2
            - happy-1.19.5
          sources:
            - hvr-ghc

before_install:
  - export PATH=/opt/ghc/$GHC_VER/bin:/opt/cabal/$CABAL_VER/bin:/opt/alex/3.1.7/bin:/opt/happy/1.19.5/bin:~/.cabal/bin/:$PATH;

install:
  - git clone https://github.com/agda/agda --depth=1 --single-branch
  - cabal update
  - sed -i 's/^jobs:/-- jobs:/' $HOME/.cabal/config
  # checking whether .ghc is still valid
  - cabal install --only-dependencies --dry -v > $HOME/installplan.txt
  - sed -i -e '1,/^Resolving /d' $HOME/installplan.txt; cat $HOME/installplan.txt
  - touch $HOME/.cabsnap/intallplan.txt
  - mkdir -p $HOME/.cabsnap/ghc $HOME/.cabsnap/lib $HOME/.cabsnap/share $HOME/.cabsnap/bin
  - if diff -u $HOME/.cabsnap/installplan.txt $HOME/installplan.txt;
    then
      echo "cabal build-cache HIT";
      rm -rfv .ghc;
      cp -a $HOME/.cabsnap/ghc $HOME/.ghc;
      cp -a $HOME/.cabsnap/lib $HOME/.cabsnap/share $HOME/.cabsnap/bin $HOME/.cabal/;
    else
      echo "cabal build-cache MISS";
      rm -rf $HOME/.cabsnap;
      mkdir -p $HOME/.ghc $HOME/.cabal/lib $HOME/.cabal/share $HOME/.cabal/bin;
    fi
  - cabal install cpphs
  - cd agda && cabal install --only-dependencies && make CABAL_OPTS=-v2 install-bin
  # snapshot package-db on cache miss
  - echo "snapshotting package-db to build-cache";
    mkdir $HOME/.cabsnap;
    cp -a $HOME/.ghc $HOME/.cabsnap/ghc;
    cp -a $HOME/.cabal/lib $HOME/.cabal/share $HOME/.cabal/bin $HOME/installplan.txt $HOME/.cabsnap/;
  # generating Everything.agda
  - cd $HOME/build/agda/agda-stdlib
  - runghc GenerateEverything.hs

script:
  # generating index.agda
  - ./index.sh
  # building the docs
  - agda -i . -i src/ --html index.agda
  # moving everything at the root
  - mv html/* .

after_success:
  # uploading to gh-pages
  - git init
  - git config --global user.name "Travis CI bot"
  - git config --global user.email "travis-ci-bot@travis.fake"
  - git remote add upstream https://$GH_TOKEN@github.com/agda/agda-stdlib.git &>/dev/null
  - git fetch upstream && git reset upstream/gh-pages
  - git add -f \*.html
  - git commit -m "Automatic HTML update via Travis"
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" = "master" ];
    then git push -q upstream HEAD:gh-pages &>/dev/null;
    fi

notifications:
  email: false

