build: off

environment:

 matrix:
  - GHC_VER: 8.2.1
  - GHC_VER: 8.0.2

matrix:
  fast_finish: true

install:
  - appveyor-retry choco install -y ghc --version %GHC_VER%
  - refreshenv
  - set BUILD_DIR=$HOME/dist
  - cabal --version
  - ghc --version
  - cabal update
  - cabal install alex happy
  - cabal install --only-dependencies
  - cabal install
