name: Cabal build

on:
  push:
    paths:
    - 'src/**'
    - 'Agda.cabal'
    - 'cabal.project'
    - '.github/workflows/cabal.yml'
    - 'Setup.hs'
    - 'test/**.hs'
  pull_request:
    paths:
    - 'src/**'
    - 'cabal.project'
    - '.github/workflows/cabal.yml'
    - 'Agda.cabal'
    - 'Setup.hs'
    - 'test/**.hs'

jobs:
  Unix-like:
    if: |
      !contains(github.event.head_commit.message, '[skip ci]')
      && !contains(github.event.head_commit.message, '[ci skip]')
      && !contains(github.event.head_commit.message, '[github skip]')
      && !contains(github.event.head_commit.message, '[skip github]')

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macos-latest]
        ghc-ver: [8.10.2]
        cabal-ver: [3.2]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: actions/setup-haskell@v1
      with:
        ghc-version: ${{ matrix.ghc-ver }}
        cabal-version: ${{ matrix.cabal-ver }}

    - name: Configure the build plan
      run: |
        cabal update
        cabal configure -O0

    - name: Add the path to icu4c to the cabal configuration
      if: ${{ runner.os == 'macOS' }}
      run: |
        echo "extra-lib-dirs: /usr/local/opt/icu4c/lib"         >> ~/.cabal/config
        echo "extra-include-dirs: /usr/local/opt/icu4c/include" >> ~/.cabal/config

    - uses: actions/cache@v2
      name: Cache dependencies
      with:
        path: |
          ~/.cabal
          dist-newstyle
        # The file `plan.json` contains the build information.
        key: ${{ runner.os }}-cabal-${{ matrix.ghc-ver }}-${{ matrix.cabal-ver }}-${{ hashFiles('**/plan.json') }}

    - name: Install dependencies
      run: |
        cabal build --only-dependencies
    - name: Build Agda
      run: |
        cabal build

  # We can not use GHC 8.8.2, 8.8.3, 8.8.4 or 8.10.1 because #4543 and
  # we can not use 8.10.2 because #4965.
  # Windows:
  #   if: |
  #     !contains(github.event.head_commit.message, '[skip ci]')
  #     && !contains(github.event.head_commit.message, '[ci skip]')
  #     && !contains(github.event.head_commit.message, '[github skip]')
  #     && !contains(github.event.head_commit.message, '[skip github]')

  #   runs-on: windows-latest
  #   strategy:
  #     matrix:
  #       ghc-ver: ["8.10.2"]
  #       cabal-ver: ["3.2"]
  #       icu-ver: [65.1-1]

  #   env:
  #     FLAGS: "-f enable-cluster-counting"
  #     ICU_FILE: "mingw-w64-x86_64-icu-${{ matrix.icu-ver }}-any.pkg.tar.xz"

  #   steps:
  #   - uses: actions/checkout@v2.3.2

  #   - uses: actions/setup-haskell@v1.1.3
  #     with:
  #       ghc-version: ${{ matrix.ghc-ver }}
  #       cabal-version: ${{ matrix.cabal-ver }}

  #   - name: Update cabal
  #     run: |
  #       cabal update

  #   - name: Download ICU ${{ matrix.icu-ver }}
  #     run: |
  #       C:\msys64\usr\bin\wget.exe -q http://repo.msys2.org/mingw/x86_64/${env:ICU_FILE}

  #   - name: Install ICU ${{ matrix.icu-ver }}
  #     run: |
  #       C:\msys64\usr\bin\pacman.exe -U --noconfirm ${env:ICU_FILE}

  #   - name: Create cabal.config
  #     run: |
  #       echo "extra-lib-dirs: C:\msys64\mingw64\lib" >> cabal.config
  #       echo "extra-include-dirs: C:\msys64\mingw64\include" >> cabal.config

  #   - name: Build dependencies
  #     run: |
  #       cabal build ${FLAGS} --only-dependencies

  #   - name: Build Agda
  #     run: |
  #       cabal build ${FLAGS}
