name: Cabal build

on:
  push:
    paths:
    - 'src/**'
    - 'Agda.cabal'
    - 'cabal.project'
    - '.github/workflows/cabal.yml'
    - 'Setup.hs'
    - 'test/**.hs'
  pull_request:
    paths:
    - 'src/**'
    - 'cabal.project'
    - '.github/workflows/cabal.yml'
    - 'Agda.cabal'
    - 'Setup.hs'
    - 'test/**.hs'

defaults:
  run:
    shell: bash

jobs:
  auto-cancel:
    if: |
      !contains(github.event.head_commit.message, '[skip ci]')
      && !contains(github.event.head_commit.message, '[ci skip]')
      && !contains(github.event.head_commit.message, '[github skip]')
      && !contains(github.event.head_commit.message, '[skip github]')
    runs-on: Ubuntu-latest # Required, but it can be anything here.

    steps:
    - uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}

  cabal:
    needs: auto-cancel

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macos-latest]
        ghc-ver: [8.10.2]
        cabal-ver: [3.2]
        include:
          - os: windows-latest
            ghc-ver: 8.10.2.2
            cabal-ver: 3.2

    env:
      # FLAGS: "-f enable-cluster-counting"
      # ICU_FILE: "mingw-w64-x86_64-icu-65.1-1-any.pkg.tar.xz"
      FLAGS: ""

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc-ver }}
        cabal-version: ${{ matrix.cabal-ver }}

    - name: Configure the build plan
      run: |
        cabal update
        cabal configure -O0

        #    - name: Add the path to icu4c to the cabal configuration
        #      if: ${{ runner.os == 'macOS' }}
        #      run: |
        #        echo "extra-lib-dirs: /usr/local/opt/icu4c/lib"         >> ~/.cabal/config
        #        echo "extra-include-dirs: /usr/local/opt/icu4c/include" >> ~/.cabal/config

        #    - name: Download and Install ICU ${{ matrix.icu-ver }}
        #      if: ${{ runner.os == 'Windows' }}
        #      run: |
        #        C:\msys64\usr\bin\wget.exe -q http://repo.msys2.org/mingw/x86_64/${env:ICU_FILE}
        #        C:\msys64\usr\bin\pacman.exe -U --noconfirm ${env:ICU_FILE}
        #
        #        echo "extra-lib-dirs: C:\msys64\mingw64\lib"         >> cabal.config
        #        echo "extra-include-dirs: C:\msys64\mingw64\include" >> cabal.config
        #        type cabal.config
        #
    - uses: actions/cache@v2
      name: Cache dependencies (Unix-like)
      id: cache-on-unix
      if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
      with:
        path: |
          ~/.cabal
        # The file `plan.json` contains the build information.
        key: ${{ runner.os }}-cabal-${{ matrix.ghc-ver }}-${{ matrix.cabal-ver }}-${{ hashFiles('**/plan.json') }}

    - uses: actions/cache@v2
      name: Cache dependencies (Windows)
      id: cache-on-win64
      if: ${{ runner.os == 'Windows' }}
      with:
        path: |
          ${APPDATA}\cabal
        # The file `plan.json` contains the build information.
        key: ${{ runner.os }}-cabal-${{ matrix.ghc-ver }}-${{ matrix.cabal-ver }}-${{ hashFiles('**/plan.json') }}

    - name: Install dependencies
      if: ${{ !steps.cache-on-unix.outputs.cache-hit && !steps.cache-on-win64.outputs.cache-hit }}
      run: |
        cabal build --only-dependencies

    - name: Build Agda
      run: |
        cabal build

